.light {
  --text: #1d1d1d;
  --bg: #dddddd;
  --primary: #3b3b3b;
  --secondary: #8b8b8b;
  --accent: #5c5c5c;
  --lightning: #ffde03;
  --water: #0336ff;
  --fire: #ff0266;
  --grass: #00cc00;
  --psych: #eb00eb;
}

.dark {
  --text: white;
  --bg: #1d1d1d;
  --primary: #3b3b3b;
  --secondary: #8b8b8b;
  --accent: #5c5c5c;
  --lightning: #ffde03;
  --water: #0336ff;
  --fire: #ff0266;
  --grass: #00cc00;
  --psych: #eb00eb;
}
