.lightT {
  --text: #1d1d1d;
  --bg: #303030;
  --primary: #ffffff;
  --secondary: #e6e6e6;
  --accent: #ffffff;
}

.darkT {
  --text: white;
  --bg: #1d1d1d;
  --primary: #3b3b3b;
  --secondary: #8b8b8b;
  --accent: #303030;
}

:root {
  --normal: #b6b6b6;
  --fire: #ff0266;
  --water: #0336ff;
  --grass: #00cc00;
  --rock: #8f8559;
  --fighting: #5c5c5c;
  --psychic: #eb00eb;
  --ghost: #eb00eb;
  --bug: #00cc00;
  --poison: #00cc00;
  --flying: #5c5c5c;
  --electric: #ffde03;
  --ground: #5c5c5c;
  --ice: #0336ff;
  --dragon: #eb00eb;
  --dark: #5c5c5c;
  --steel: #5c5c5c;
  --fairy: #eb00eb;
}

.normal {
  --pokemon: var(--normal);
}
.fire {
  --pokemon: var(--fire);
}
.water {
  --pokemon: var(--water);
}
.grass {
  --pokemon: var(--grass);
}
.rock {
  --pokemon: var(--rock);
}
.fighting {
  --pokemon: var(--fighting);
}
.psychic {
  --pokemon: var(--psychic);
}
.ghost {
  --pokemon: var(--ghost);
}
.bug {
  --pokemon: var(--bug);
}
.poison {
  --pokemon: var(--poison);
}
.flying {
  --pokemon: var(--flying);
}
.electric {
  --pokemon: var(--electric);
}
.ground {
  --pokemon: var(--ground);
}
.ice {
  --pokemon: var(--ice);
}
.dragon {
  --pokemon: var(--dragon);
}
.dark {
  --pokemon: var(--dark);
}
.steel {
  --pokemon: var(--steel);
}
.fairy {
  --pokemon: var(--fairy);
}
