.container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0.5rem;
  margin: 0.75rem;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: black 0 0 5px;
    background-color: color-mix(in srgb, var(--accent), transparent 95%);
    width: 100%;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    .heading {
      text-transform: capitalize;
    }
    .img {
      width: 70%;
      height: 60%;
    }
    &:hover {
      background-color: color-mix(in srgb, var(--accent), transparent 75%);
    }
  }
}
