.container {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 3px;
    border-radius: 10px;
    box-shadow: black 0 0 5px;
    height: 250px;
    .heading {
      text-transform: capitalize;
    }
    .img {
      width: 70%;
      height: 60%;
    }
  }
}

.water {
  background-color: var(--water);
}
