.header {
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 774px) {
    justify-content: center;
  }
}
.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
