.container {
  @media (max-width: 1024px) {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
}
.logo {
  padding-left: 1rem;
  margin-bottom: -0.4rem;
  height: 5rem;
  display: flex;
}
