.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
  @media (max-width: 600px) {
    flex-basis: 100%;
    order: 1;
  }
  .input {
    width: 100%;
    background: var(--primary);
    padding: 0 2.5rem;
  }
  .searchIcon,
  .resetIcon {
    display: block;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }
  .searchIcon {
    left: 1rem;
  }
  .resetIcon {
    right: 1rem;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
