.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  @media (max-width: 774px) {
    flex-basis: 100%;
    order: 1;
  }
}
.input {
  width: clamp(15rem, 100%, 30rem);
}
.btn {
  background: transparent;
  border: none;
}
